      <div class="modal-container" id="numpad-modal">
        <div class="modal-content">
          <div class="modal-title">
            <h3>Bt office code</h3>
            <span></span>
          </div>
          <div class="inner-modal">
            <div class="container-fluid reset">
              <div class="row reset">
                <div class="col-md-4 reset">
                  <button class="key">7</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">8</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">9</button>
                </div>
              </div>
              <div class="row reset">
                <div class="col-md-4 reset">
                  <button class="key">4</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">5</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">6</button>
                </div>
              </div>
              <div class="row reset">
                <div class="col-md-4 reset">
                  <button class="key">1</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">2</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">3</button>
                </div>
              </div>
              <div class="row reset">
                <div class="col-md-4 reset">
                  <button class="back">Back</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="key">0</button>
                </div>
                <div class="col-md-4 reset">
                  <button class="go">Go</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-container" id="add-modal">
        <div class="modal-content">
          <div class="modal-title">
            <h3>Add info</h3>
            <span></span>
          </div>
          <div class="inner-modal">
            <form class="nosubmit">
              <input type="text" name="title" placeholder="Title">
              <textarea></textarea>
              <input type="password" name="title" placeholder="Vault group pass">
              <input type="submit" value="Add" class="v-btn green">
            </form>
          </div>
        </div>
      </div>
      
      <div id="clone-bits">
        <div id="info-bit">
          <div class="col-md-4 col-sm-6 col-xs-12 reset">
              <div class="padded">
                  <div class="data-box">
                      <div class="title">
                          <h4></h4>
                      </div>
                      <p></p>
                  </div>
              </div>
          </div>
        </div>
      </div>